.chart
	padding-bottom 22px
	font-family 'Dosis', sans-serif
	background #000
	z-index 1000
	overflow hidden
	position relative
	&__element
		float left
		height 200px
		width 370px
		// it was very hard desigion, but.. i'm sorry)
		background url('i/chart.png') top left no-repeat
		margin-top 18px
		margin-left -2px
		@media phone
			float none
			margin 10px auto
		
	&__description
		margin-left 443px
		max-width 836px
		vertical-align top
		transition margin-left 200ms
		@media all and (max-width: 1170px)
			margin-left 390px
			transition margin-left 200ms
		@media phone
			margin-left 0
			transition margin-left 200ms
			text-align justify
				
		
	&__description-header
		padding-left 16px
		font-weight bold
		text-transform uppercase
		color #fff
		font-size 27px
		line-height 76px
		vertical-align top
		background url('i/head_bgr.png') no-repeat
		background-position: 0px 20px
		transition all 200ms
		@media all and (max-width: 1170px)
			background none
			line-height 37px
			padding-top 10px
			padding-left 0
			transition all 200ms
			
			
	&__description-text
		color #fff
		font-size 18px
		line-height 40px
		font-weight 300
		padding-top 15px
		padding-left 3px
		letter-spacing 0.22px
		transition line-height 200ms
		@media all and (max-width: 1170px)
			line-height 25px
			transition line-height 200ms
		