.features
	padding-top 20px
	padding-bottom 18px
	background #3b3e3d
.feature
	float left
	position relative
	width 14.28%
	width calc(100% / 7)
	min-height 87px
	padding 52px 10px 0 10px
	border-right 1px solid #636666
	color #636666
	font-family Calibri, sans-serif
	text-align center
	//strange block, but.. perfect pixel :-/
	@media all and (min-width: 1270px)
		padding 42px 10px 0 10px
		&:nth-child(1)
			border-left 1px solid #636666
			.feature__icon
				transform translate(-66%, -6px)
		&:nth-child(2)
			.feature__icon
				transform translate(-39%, -4px)
		&:nth-child(4)
			.feature__icon
				transform translate(-46%, 4px)
		&:nth-child(5)
			.feature__name
				transform translateX(-6px)
			.feature__icon
				transform translate(-63%, -6px)
		&:nth-child(6)
			.feature__icon
				transform translate(-53%, 1px)
		&:nth-child(7)
			.feature__icon
				transform translate(-69%, 2px)
	@media phone
		width 33%
		min-height 120px
		margin-bottom 10px
		&:nth-child(7)
			width 100%
			min-height 0
			border-right none
	@media all and (max-width: 420px)
		width 100%
		height auto
		min-height 0
		border-right none
		border-bottom 1px solid #636666
		padding-bottom 10px
		&:nth-child(7)
			border-bottom none
	&__icon
		position absolute
		top 0
		left 50%
		transform translate(-50%, 0)
		
	&__name
		text-transform uppercase
		font-size 12px
		font-weight bold
	
	&__description
		font-size 11px
		line-height 10px