.copyright
	height 30px
	line-height 30px
	text-align center
	color #fff
	font-family 'Dosis', sans-serif
	font-size 12px
	background-color #2578cc

.overfooter
	background-color #fff
	min-height 57px
	img
		display block
		margin 0 auto
		transform translateX(8px)