placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}

.form-container
	position absolute
	width 1310px
	top 0
	left 50%
	margin-left -655px
	color #fff
	@media tablet_to_md
		top 0
		left auto
		right 0
		margin-left 0
	@media phone
		position relative
		width 100%
		top auto
		left auto
		margin-left 0
.form
	position absolute
	top 0
	right 18px
	width 232px
	min-height 400px
	padding 3px 6px 10px 9px
	background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(35,37,40,1) 100%)
	box-shadow 0 0 20px #000
	@media tablet_to_md
		right 15px
	@media phone
		position relative
		width 100%
		right 0
		padding 0 15px
		text-align left
		
	&__header
		font-family: 'Dosis', sans-serif;
		font-size 38px
		font-weight 600
		letter-spacing 0.5px
	&__fields
		margin-top 3px
		@media phone 
			.form-submit-container
				text-align center
		input:not([type='submit'])
			display block
			width 100%
			height 27px
			padding 0 4px 0 4px
			margin 0
			margin-bottom 5px
			border 1px solid #a09d9d
			background #e1e1e1
			box-sizing border-box
			appearance none
			//text
			font-family 'Dosis', sans-serif
			font-weight 100
			font-size 12px
			letter-spacing 0.3px
			color #1c1c1c
			transition all 200ms
			+placeholder()
				font-family 'Dosis', sans-serif
				font-weight 100
				font-size 12px
				letter-spacing 0.3px
				color #1c1c1c
			@media phone
				height 40px
				margin-bottom 10px
			&:focus
				transition all 200ms
				box-shadow 0 0 3px #fff
		&--invalid
			transition all 200ms
			box-shadow inset 0 0 5px rgba(241,5,5,0.8)
		input.form__code
			display inline-block
			width 56px
			margin-right 0
		input.form__phone
			display inline-block
			width 158px
			width calc(100% - 61px)
		
	&__submit
		position relative
		width 100%
		margin-top 16px
		height 57px
		border none
		border-radius 5px
		background linear-gradient(to bottom, rgba(244,5,61,1) 0%, rgba(241,5,5,1) 100%)
		color #fff
		font-family 'Dosis', sans-serif
		font-size 37.8px
		font-weight 500
		text-align center
		text-transform uppercase
		cursor pointer
		letter-spacing 0.3px
		transition all 200ms
		&:after
			position absolute
			display block
			width 100%
			height 5px
			bottom -3px
			left 0	
			border-bottom-left-radius 5px	
			border-bottom-right-radius 5px
			background #6f0202
			content ''
		&:hover
			opacity 0.9
			box-shadow 0 0 10px rgba(241,5,5,0.8)
			transition all 200ms
		&:active
			//transform translate3d(0, 2px,0)
			transform translateY(2px)
			transition all 200ms
		@media phone
			display inline-block
			width auto
			padding 0 20px
		
			
.benefits
	margin-top 25px
	font-family 'Dosis', sans-serif
	&__header
		margin-bottom 20px
		color brandColor
		font-weight 500
		font-size 21px
		line-height 24px
	&__text
		position relative
		margin-bottom 18px
		padding-left 20px
		font-size 14px
		line-height 18px
		letter-spacing -0.1px
		&:before
			content ''
			display block
			position absolute
			top -4px
			left 7px
			height 19px
			width 0px
			border-left 3px solid #2e90f4
			border-radius 100%
			transform rotate(34deg)
		&:after
			content ''
			display block
			position absolute
			top 3px
			left 1px
			left 0.5px
			height 10px
			width 0px
			border-left 3px solid #2e90f4
			border-radius 100%
			transform rotate(-25deg)
		
.trust-icons
	opacity .25
	padding-top 4px
	padding-bottom 4px
	&__icon-el
		display: inline-block
		&:nth-child(1)
			padding-left 3px 
		&:nth-child(2)
			padding-left 9px 
		&:nth-child(3)
			padding-left 5px
			transform translateY(1px)
			
.message
	font-weight bold
	font-family 'Dosis', sans-serif
	padding 0
	opacity 0
	transition all 700ms
	&--visible
		transition all 200ms
		opacity 1
		padding 20px 0 0 0
	&--success
		color greenyellow
	&--error
		color darkred
		
.validation-error 
	position relative
	font-family 'Dosis', sans-serif
	color #f69e9e
	font-size 11px
	border 1px solid #f69e9e
	padding 5px
	margin 0px 0 7px 0

	&:after
		content ''
		display block
		position absolute
		bottom -4px
		left 5px
		width 7px
		height 7px
		transform rotate(45deg)
		border-right 1px solid #f69e9e
		border-bottom 1px solid #f69e9e
		background #000
		position absolute