.head
	padding-bottom 36px
	background rgba(35,37,40,1)
	background linear-gradient(to bottom, rgba(35,37,40,1) 0%, rgba(26,27,29,1) 100%)
	.container
		position relative
	@media all and (max-width: 1300px)
		width: 100%
		.container
			max-width 840px
			max-width calc(100% - 400px)
			margin 0
	@media phone
		.container
			max-width 100%
	h1
		padding-top 13px
		font-family 'euro_caps'
		font-size 62.88px
		font-weight 100
		color brandColor
		line-height 46px
		text-shadow 1px 0 5px #000
		.smaller
			display: block
			font-size 39px
		@media phone
			font-size 55px
		@media all and (max-width: 370px)
			font-size 40px
			.smaller
				font-size 20px
			
	h2
		margin-top 37px
		font-family 'Dosis', sans-serif
		text-transform uppercase
		font-weight 300
		color brandColor
		letter-spacing 0.32px
		
	&__description
		margin-top 6px
		color #fff
		font-family 'Dosis', sans-serif
		font-size 18px
		line-height 26px
		letter-spacing 0.2px
		
	&__auction-text
		margin-top 13px
		font-family 'Dosis', sans-serif
		font-weight 300
		font-size 18px
		color #fff
		line-height 28px
		letter-spacing 0.25px
		
.figure
	position absolute
	font-family 'euro_caps', sans-serif
	height 170px
	top 31px
	left 883px
	z-index 1000
	color #70767d
	text-align center
	@media all and (max-width: 1300px)
		left auto
		right -140px
	@media phone
		position relative
		top auto
		left auto
		right auto
		width 100px
		margin 40px auto -40px auto
	&__number
		color #2d8ef2
		font-size 68px
		line-height 47px
	&__month
		color #2d8ef2
		font-size 12px
		padding-top 4px
		padding-bottom 5px
		margin-left 3px
		border-bottom 4px solid #7d848b
	&__bitcoin-number
		font-size 23.6px
		color #7d848b
		letter-spacing -0.035px
	&__bitcoins
		font-size 17.91px
		color #7d848b
		line-height 11px
		padding-left 5px
	&:before
		content ''
		position absolute
		left -35px
		top -25px
		display block
		width 42px
		height 100%
		background url('i/bracket.png') no-repeat
		-webkit-font-smoothing: antialiased
		backface-visibility: hidden
	&:after
		content ''
		position absolute
		right -39px
		top -29px
		display block
		width 42px
		height 100%
		background url('i/bracket.png') no-repeat
		-webkit-font-smoothing: antialiased
		backface-visibility: hidden
		transform rotate(180deg)