html, body
	height 100%

.wrapper
	overflow hidden
	backface-visibility: hidden

html
	background #000

.container
	width 1310px
	min-width 320px
	height 100%
	margin 0 auto
	padding-left 15px
	padding-right 15px
	@media smallerThenDesign
		width 100%
	
.bitcoin-background
	position absolute
	bottom 0
	right 0
	left 454px
	width 1020px
	height 700px
	background-position 100% 122px
	pointer-events none
	@media tablet_desktop
		background-image url("i/bitcoin.png")
		background-repeat no-repeat
	// @media smallerThenDesign
	// 	right auto
	// 	left 100px
	
	//@media lg
.small-bitcoin-background
	opacity 0.09
	position absolute
	bottom 0
	left 255px
	width 1453px
	height 100%
	background-repeat  no-repeat
	background-position 100% -190px
	z-index -1
	background-image url("i/smallerbitcoin.png")
	//@media tablet_desktop
	@media phone
		width 100%
		left 0