.price-block
	position relative
	height 102px
	width 441px
	border-bottom 6px solid #434345
	color #fff
	@media phone
		width 100%
	&__currency
		display inline-block
		vertical-align top
		font-family 'euro_caps'
		font-size 26.75px
		line-height 20px
	&__amount
		display inline-block
		font-family 'euro_caps'
		font-size 62.38px
		line-height 40px
	&__delta
		display inline-block
		padding-left 7px
		font-family 'Dosis', sans-serif
		color red
		font-size 17px
		line-height 26px
		vertical-align top
		&:after
			display block
			width 0
			height 0
			margin 0 auto
			border-style solid
			border-style inset
			border-width 7px 4px 0 4px
			border-color #089906 transparent transparent transparent
			transform rotate(360deg)
			content ''
	&__man-photo
		position absolute
		height 138px
		width 198px
		bottom 0px
		right 0
		background url('i/man.png') no-repeat
		opacity 0.41
		transition all 200ms
		@media all and (max-width: 450px)
			right auto
			left 200px
			transition all 200ms
.quote
	position relative
	color #fff
	padding-top 55px
	background linear-gradient(to bottom, rgba(15,16,18,1) 0%, rgba(35,37,40,1) 100%)
	.container
		position relative
	&:after
		content ''
		background rgba(24,25,27,0.32)
		position absolute
		height 5px
		width 100%
		bottom 0
	&__text
		position relative
		font-family 'Dosis', sans-serif
		font-weight 300
		font-size 18px
		line-height 28px
		margin-top 15px
		letter-spacing 0.23px
		&:before
			position: absolute;
			top 2px
			left -26px
			font-family 'Dosis', sans-serif
			font-size 53px
			font-weight bold
			color #5e6062
			content '“'
		p:last-child
			position relative
			display inline-block
			&:after
				position: absolute;
				top 11px
				right -28px
				font-family 'Dosis', sans-serif
				font-size 54px
				font-weight bold
				color #5e6062
				content '”'
				
	&__author
		display block
		text-align right
		width 100%
		max-width 441px
		margin-top 7px
		font-family 'Dosis', sans-serif
		font-weight 600
		font-size 16px
		letter-spacing 0.25px
	&__magazine
		transform translate(1px, 2px)
		margin-bottom 20px